{% extends "base.html" %}
{% load material_form %}

{% block body_font_color %}
#202020;
{% endblock %}

{% block body_color %}
grey lighten-3
{% endblock %}

{% block content %}

<div class="row">
	<form method="post" action="">
		{% csrf_token %}
		{% form form=form %}{% endform %}
		<button style="margin-top:10px; margin-bottom:20px;" type="submit" name="_submit" class="z-depth-4 waves-effect btn btn-primary btn-lg">
			Search<i class="material-icons right">search</i>
		</button>
		
	</form>
</div>

{% endblock %}
