{% extends "base.html" %}

{% block body_font_color %}
#202020;
{% endblock %}

{% block content %}

<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	{{ loginForm.as_ul }}
	<button type="submit" name="_submit" class="z-depth-4 waves-effect btn btn-primary btn-lg">
		Submit<i class="material-icons right">send</i>
	</button>
</form>

<div style="margin-bottom:40px;"></div>
<a class="btn waves-effect white black-text" href="{% url 'register' %}">Create Account</a>

{% endblock %}

{% block scripts %}
	<script>
		function disableForm() {
			$('#login_form').submit(function (event) {
				event.preventDefault();
			});
		}
	</script>
{% endblock %}
